NODE_ENV=development
APP_PORT=5000
APP_NAME="NestJS API"
API_PREFIX=api
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:5000

DATABASE_TYPE=mysql
DATABASE_URL=
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=test
DATABASE_SYNCHRONIZE=true


AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=
AUTH_REFRESH_SECRET=
AUTH_REFRESH_TOKEN_EXPIRES_IN=



MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASSWORD=
MAILER_IGNORE_TLS=false
MAILER_SECURE=false
MAILER_REQUIRE_TLS=false
MAILER_DEFAULT_EMAIL=noreply@example.com
MAILER_DEFAULT_NAME=
MAILER_CLIENT_PORT=1080



GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 
CALL_BACK_URL= 
