<html>
  <head>
    <meta charset='utf-8' />
    <title>Email Confirmation</title>
  </head>
  <body>
    <table
      align='center'
      border='0'
      cellpadding='0'
      cellspacing='0'
      width='600'
    >
      <tr>
        <td align='center' bgcolor='#f5f5f5' style='padding: 40px 0;'>
          <h1>Email Confirmation</h1>
        </td>
      </tr>
      <tr>
        <td bgcolor='#ffffff' style='padding: 40px 20px;'>
          <p>Dear {{username}},</p>
          <p>Thank you for signing up! Please confirm your email address by
            clicking the button below:</p>
          <table border='0' cellpadding='0' cellspacing='0' width='100%'>
            <tr>
              <td align='center'>
                <table border='0' cellpadding='0' cellspacing='0'>
                  <tr>
                    <td
                      bgcolor='#3498db'
                      style='border-radius: 5px;'
                      align='center'
                    >
                      <a
                        href='{{confirmationLink}}'
                        style='display: inline-block; padding: 10px 20px; color: #ffffff; text-decoration: none; border-radius: 5px;'
                      >Confirm Email</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <p>If you didn't sign up for our service, please ignore this email.</p>
        </td>
      </tr>
      <tr>
        <td bgcolor='#f5f5f5' style='padding: 20px; text-align: center;'>
          <p>&copy; 2023 Your Company. All rights reserved.</p>
        </td>
      </tr>
    </table>
  </body>
</html>